@model MvcMovie.Models.Movie

@{
    ViewBag.Title = "Details";
}
<script src="https://use.fontawesome.com/d40027ea8c.js"></script>
<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director)
        </dd>

        <dt>
            IMDB Rating
            @*@Html.DisplayNameFor(model => model.iRating)*@
        </dt>

        <dd>
            @{
                //this was sketchy. I don't know why Model had to be uppercase--I got an error every time I
                //tried to get model.iRating in this @ block
                var numStars = (int)Model.iRating;
                //System.Diagnostics.Debug.WriteLine("numStars = " + numStars);
                for (int i = 1; i <= numStars; i++)
                {
                    <i class="fa fa-star" aria-hidden="true"></i>
                }
            }

        <dt>
            Poster
            @*@Html.DisplayNameFor(model => model.PosterURL)*@
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.PosterURL)*@
            @*<img src="@Model.PosterURL" alt="Smiley face" height="100" width="100">
            <img src="@imageStr" alt="Smiley face" height="100" width="100">*@

            @{ 
                var plusTitle = Model.Title.Replace(" ", "+");
                var webRequest = WebRequest.Create(@"https://api.themoviedb.org/3/search/movie?api_key=efd3636a73f29caea4f872a3b84518f8&query=" + plusTitle);

                var response = webRequest.GetResponse();
                var content = response.GetResponseStream();
                var reader = new StreamReader(content);

                var strContent = reader.ReadToEnd();
                //System.Diagnostics.Debug.WriteLine("Here's the file: " + strContent);
                var jpgIndex = strContent.IndexOf(".jpg");
                var posterPath = strContent.Substring(jpgIndex - 27, 27);

                System.Diagnostics.Debug.WriteLine("Here's the string: " + posterPath);
                var imageStr = "https://image.tmdb.org/t/p/w500/" + posterPath + ".jpg";
                <img src="@imageStr" alt="@Model.Title">
                }

        </dd>
            


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
